<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="%(blog-title)s" />
<meta name="keywords" content="" />
<!--link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.macgamescenter.com/rss.php" /-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>%(blog-title)s</title>
<link href="templates/basic/main.css" rel="stylesheet" type="text/css" />
<body onload="">
<div id="header">    
	<h1><a href="./">%(blog-title)s</a></h1>
</div>
<div id="menu">
	<div>
		<p>We love making usable utilities focused on efficiency and speed of use that help people solve their problems faster, with less complexity and in more affordable way. This is our blog.</p>
	</div>
	<style>
	img.feed {
		vertical-align: middle;
		border: 0;
		}
	}
	</style>
	<p><a href="feed.rss"><img class="feed" src="templates/basic/feed.png" /> Subscribe with RSS</a></p>
	<p><a href="/">Refaktor Labs Home</a></p>
</div>
<h2>Blog posts</h2>
<ul id="posts">
